 *{
    margin: 0%;
    padding: 0%;
 }

header{
    display: flex;
    padding: 15px 10px;
    background-color: black;
    align-items: center;

}
a{
list-style-type: none;
color: white;
text-decoration: none;

}
.logo{
font-size: 30px;
cursor: pointer;
text-transform:uppercase;
font-weight: bold;
color:white;
text-decoration: none;
margin-right: auto;

}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
    color: white;
    padding: 10px;
}

a:hover{
    color:red;
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    
}
